.main{
  /*text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
*/
  /* Rectangle 18 */

position: relative;
width: 1518px;
height: 589px;
left: 0px;
top: 167px;


background: linear-gradient(180deg, rgba(60, 170, 150, 0.4) 0%, rgba(159, 172, 230, 0.4) 100%);
border-radius: 0px;
}

.login-container{
  /*display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  box-shadow: 11px 12px 13px 2px rgb(207, 207, 207);
  padding-top: 30px;
  border-radius: 60px;
  background-color: white;*/

 
position: absolute;
width: 495px;
height: 588px;
left: 761px;
top: 20px;
box-shadow: 11px 12px 13px 2px rgba(73, 65, 65, 0.384);

background: linear-gradient(142.38deg, rgba(255, 255, 255, 0.4) 3.13%, rgba(255, 255, 255, 0.1) 97.25%);
backdrop-filter: blur(40px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 40px;
}

.user-imgs{
  position: absolute;
width: 79px;
height: 79px;
left: 959px;
top: 235px;

}

.imgs{
  justify-content: center;
  padding-top: 20px;
  display: flex;
  
}

h1{
color: black;
font-family: 'Times new roman';
text-align: center;
font-style: normal;
font-weight: 600px;
font-size: 36px;
letter-spacing: 0.05em;
}

.un{
font-family: 'Times new roman';
font-style: normal;
font-weight: normal;
font-size: 14px;

letter-spacing: 0.05em;
color: #000000;
}

.pw{
  font-family: 'Times new roman';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin-top: 40px;
  letter-spacing: 0.05em;
  color: #000000;  
}

.name{

width: 360px;
height: 38px;
left: 841px;


background: #FFFFFF;
border: 1px solid rgba(34, 31, 31, 0.47);
box-sizing: border-box;
border-radius: 30px;
}

.merg{
margin-left: 50px;
margin-top: 40px;
}

table{
  width: 100%;
}

button{
background: rgba(156, 218, 206, 0.69);
box-sizing: border-box;
border-radius: 40px;
width: 100px;
height: 38px;
left: 44px;
top: 669px;
justify-content: center;
}

.login{
padding-top: 25px;
padding-left: 145px;
}

.sidepic{
  position: absolute;
width: 617px;
height: 929px;
left: 11px;
top: 47px;
}